// Navigation Styles here

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px dashed @silver;
     h1 {
         
         display: block;
         margin: 10px 40px ;
       }
       nav{
           margin: 20px 0;
           
           a {
               margin: 10px 40px 0 35px;
               font-size: 1.2rem;
           }
           }
       }
      
